body {
    background-color: gainsboro;
}

div.flexbox {
    display: flex;
}



div.container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    
}
div.main {
    width: 100%;
    min-height: 70%;
}


.shapka {
    text-align: center;
    font-size: 10px;
    font-weight: 700;
    word-spacing: 25px;
    color: black;
    font-family: 'Righteous', Courseive;
}
.footer {
    position: fixed; /* Фиксированное положение */
    left: 0;
    bottom: 0; /* Левый нижний угол */
    padding: 3px; /* Поля вокруг текста */
    color: black; /* Цвет текста */
    width: 100%; /* Ширина слоя */
    height: 13%;
    text-align: center;
    background-image: url(Down.jpg);
}
div.pod{
    text-align: center;
}
.fImage {
    vertical-align: middle; 
    line-height: 0.4em;
    width: 7%;
    height: 8%;
    
}
.MyImage {
    width: 150px;
    height: 150px;
    align-content: center;
}

div.row-flexbox {
    padding-left:10%;
    text-align: center;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}
div.column-flexbox {
    padding-left:10%;
    text-align: justify;
    width: 80%;
    padding-right:20%;
    display: flex;
    flex-flow: row wrap;
}

div.listElement {
    border: 2px solid;
    border-image: linear-gradient(20deg, #f92056 38%, #00deff 65%);
    border-image-slice: 1;
    width: 21%;
    min-height: 33%;
    padding: 3%;
    flex-flow: column wrap;
}

div.Course {
    width: 100%;
    height: 100%;
}

label.smallInfo {
    font-size: 15px;
    font-family: monospace;
    color: black;
}

div.AboutCourse {
    margin-top: 20px;
    width: 100%;
    border: 2px solid darkslategray;
}
div.AboutMe {
    margin-top: 20px;
    width: 100vw;
    border: 2px solid;
    border-color: black;
    border-style: dotted;
    border-radius: 10px;
}
.text{
    font: 20px 'Bradley Hand', Courseive;
    color: darkslategray;
}
h1.HeaderMain{
    text-align: center;
    font: 30px 'Bradley Hand', Courseive;
    color: darkslategray;
}
.but {
    background-color: DodgerBlue;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    font-size: 20px;
  }
  
.but:hover {
    background-color: RoyalBlue;
}
.avatar{
    text-align: center;
    font: 20px 'Bradley Hand', Courseive;
}
div.header {
    min-height: 10%;
    width: 100vw;
    background-image: url(Up.jpg);
    border: 2px solid darkslategray;

}
.textHeader{
    text-align: center;
    width: 100%;
    font: 25px 'Bradley Hand', Courseive;
    color: darkslategray;
}
